# Run `make up-reqs` to update pinned dependencies in requirement text files

acme
alembic-autogenerate-enums
arrow
asyncpool
boto3
botocore
crcmod
celery[redis]==4.4.7
certifi
certsrv
CloudFlare
cryptography
dnspython3
dyn
Flask-Bcrypt
Flask-Mail
Flask-Migrate
Flask-Principal
Flask-RESTful
Flask-Script
Flask==1.1.2
Flask-SQLAlchemy
Flask-Cors
flask_replicated
future
gunicorn
hvac==0.10.7 # required for the vault destination plugin. must be 0.10.7 or higher to use approle login method
inflection
jinja2
lockfile
logmatic-python
marshmallow-sqlalchemy
marshmallow<2.20.5 #schema duplicate issues https://github.com/marshmallow-code/marshmallow-sqlalchemy/issues/121
ndg-httpsclient
ns1-python
paramiko  # required for the SFTP destination plugin
pem
prometheus-client  # required for pull metrics plugin
psycopg2
pyjks >= 19 # pyjks < 19 depends on pycryptodome, which conflicts with dyn's usage of pycrypto
pyjwt
pyOpenSSL
pyyaml>=4.2b1 #high severity alert
python_ldap
raven[flask]
redis
requests
retrying
six
slack_sdk # required for Slack Notifications plugin
SQLAlchemy-Utils
tabulate
xmltodict
# celery==4.4.7

google-cloud-private-ca
google-cloud-secret-manager
google-cloud-kms
asn1crypto
google-api-core
google-cloud-storage